.error-border {
    border-color: red !important;
}

.drawer .footer .total:nth-child(1) {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.no-cart {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -60%);
    text-align: center;
    width: 70%;
}

.no-cart img {
    opacity: .65;
    width: 220px;
}

.modal-dialog {
    top: 50% !important;
    transform: translateY(-50%);
}
.cart-attributes{
    padding-bottom: 5px;
    display: flex;
    gap: 15px;
}
.drawer .content .item .name{
    padding: 0 13px 5px 0 !important;
}
.p-opt-wrap{
    margin-bottom: 10px !important;
}
.p-opt-wrap .text-danger {
    padding: 0 !important;
}
.search-item{
    border-bottom: 1px solid #8080801c;
    border-radius: 0;
}
.no-results{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-size: 18px;
}
.search-item a{
    padding: 10px 10px;
}
.price-old {
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--s-f-c1);
    padding-left: 5px;
}
.search-item a .name,.search-item a .price{
    margin-left: 70px;
}
.search-item.category{
    margin-left: 0px !important;
}
#ajax-loader{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #0000001a;
    width: 100%;
    height: 100%;
}
#ajax-loader .spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #D51E0B;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}