.error-border {
    border-color: red !important;
}

.drawer .footer .total:nth-child(1) {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.no-cart {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -60%);
    text-align: center;
    width: 70%;
}

.no-cart img {
    opacity: .65;
    width: 220px;
}

.modal-dialog {
    top: 50% !important;
    transform: translateY(-50%);
}
.cart-attributes{
    padding-bottom: 5px;
    display: flex;
    gap: 15px;
}
.drawer .content .item .name{
    padding: 0 13px 5px 0 !important;
}
.p-opt-wrap{
    margin-bottom: 10px !important;
}
.p-opt-wrap .text-danger {
    padding: 0 !important;
}