@media (max-width: 575px) {
    .category-ellipse {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .category img {
        height: 115px !important;
    }

    .category-media {
        width: 115px;
    }

    .tagsandsorting {
        display: block;
    }

    .tags {
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .toolbox select {
        max-width: 133px !important;
    }

    .shop-default-category {
        margin-bottom: 10px !important;
    }

    .tags li {
        margin: 10px 2px;
    }

    .shop-default-category.mb-6 {
        margin-bottom: 0px !important;
    }

    .product-wrap {
        padding: 0 7px !important;
    }

    .discountvalue {
        right: 17px;
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 10px;
    }

    .product-action-horizontal {
        padding: 4px !important;
        max-width: 75% !important;
        bottom: 6px !important;
    }

    .product-action-horizontal button {
        font-size: 16px !important;
        padding: 0 16px;
    }

    .product-wrap:hover .product-action-horizontal {
        bottom: 7px !important;
    }

    .product-price {
        font-size: 14px !important;
    }

    .product-price del {
        font-size: 13px !important;
    }

    .product-details .ratings-container {
        font-size: 10px !important;
    }

    .product-details .rating-reviews {
        font-size: 11px;
    }

    .product-wrap {
        margin-bottom: 12px !important;
    }

    .product-name a {
        font-size: 13px !important;
        font-weight: 600;
    }

    .tab-nav-underline .nav-item:not(:last-child) {
        margin-right: 15px !important;
    }

    .product-tabs .nav-link {
        font-size: 12px !important;
    }

    #product-tab-reviews .avg-mark {
        font-size: 40px !important;
    }

    .submited-review {
        margin-top: 5px;
    }

    .comment-avatar {
        max-width: 5rem !important;
    }

    .product-popup {
        padding: 15px !important;

    }

    .mb-10 {
        margin-bottom: 3rem !important;
    }

    .mfp-close:after,
    .mfp-close:before {
        background-color: #e71919 !important;
    }

    .mfp-close {
        width: 20px;
        height: 20px;
        top: -2.7rem;
        right: 7px;
        margin-top: 36px;
        right: 7px;
    }

    .shop-default-category {
        padding-bottom: 2rem !important;
    }

    .cart-dropdown.cart-offcanvas .dropdown-box {
        max-width: 32rem !important;
    }

    .product.product-cart .product-name {
        font-size: 15px !important;
    }

    .related-product-section .product:not(.product-list) {
        padding: 0 !important;
    }

    .related-product-section .product-wrap {
        padding: 0 !important;
    }

    .breadcrumb-nav.mb-10 {
        margin-bottom: 3rem !important;
    }

    .shop-table:not(.account-orders-table) tr {
        padding: 2.5rem 2rem 2rem !important;
    }

    .wishlist-action.text-end {
        text-align: center !important;
    }

    .shop-table:not(.account-orders-table) .product-thumbnail>div img {
        max-width: 100%;
        max-height: 180px;
    }

    .page-header {
        height: 12rem;
    }

    .breadcrumb.shop-breadcrumb li {
        font-size: 13px !important;
    }

    .breadcrumb.shop-breadcrumb li:not(:last-child):after {
        margin-left: 7px !important;
        font-size: 13px !important;
        bottom: 1px !important;
    }

    .breadcrumb.shop-breadcrumb {
        margin: 1.5rem 0 .3rem !important;
    }

    .checkout .order-summary-wrapper {
        padding: 2.5rem 2rem 3rem !important;
    }

    .order-table b {
        font-size: 15px;
    }

    .payment-methods {
        padding: 15px 0px 0px !important;
    }

    .checkout .order-summary-wrapper {
        padding: 2.5rem 2rem 1rem !important;
    }

    .toolbox.toolbox-pagination {
        padding-bottom: 0 !important;
    }

    .page-link.active,
    .active>.page-link {
        width: 23px !important;
        height: 23px !important;
        font-size: 13px;
        min-width: 23px !important;
    }

    .page-link {
        font-size: 14px !important;
    }

    .w-icon-heart {
        margin-right: 1px !important;
    }

    .w-icon-heart .cart-count {
        right: -11px !important;
    }

    .product-single .product-color-swatch .color {
        width: 20px !important;
        height: 20px !important;
        margin-right: -2px !important;
    }

    .product-single .product-color-swatch .color:before {
        font-size: 10px;
        line-height: 20px;
    }

    .product-single .product-color-swatch {
        margin-bottom: 15px !important;
    }

    .order-box-1 {
        padding: 20px 10px 15px !important;
    }

    .order-box-1 h4 {
        font-size: 20px !important;
    }

    .short {
        font-size: 13px !important;
    }

    .cart-box {
        gap: 6px !important;
    }

    h5 {
        font-size: 13px !important;
    }

    .order-items h4,
    .sidebar-title h4 {
        font-size: 18px !important;
    }

    .btn.btn_black {
        font-size: 12px;
        padding: 8px 10px !important;
    }

    .search-boxmenu {
        margin-right: 13px !important;
    }

    .error-404 {
        padding-top: 7.5rem !important;
    }

    .error-404 h2 {
        font-size: 2rem !important;
    }

    .error-404 h1 {
        font-size: 80px !important;
    }

    .buynow {
        margin-left: 0px !important;
    }

    .for-mobile {
        display: block !important;
    }

    .for-desktop {
        display: none !important;
    }

    .mobile-search .search-box {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 8;
        padding: 10px;
        background: #ececec;
    }

    .header-middle {
        position: relative;
    }

    .mobile-search .search-box input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 500;
    }

    .mobile-search .search-box i {
        position: absolute;
        right: 22px;
        top: 41%;
        color: black;
    }

    #product-list {
        position: absolute;
        width: 93%;
        background: #fff;
        z-index: 9999;
        max-height: 400px;
        overflow-y: auto;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        left: 10px;
        top: 60px;
    }

    .theme-scrollbar ul li:last-child {
        border-bottom: none;
        font-weight: 600;
        color: red;
        margin: 0;
        /* padding: 0 !important; */
        font-size: 14px;
    }

    .theme-scrollbar ul li {
        padding: 0 !important;
    }

    .mobile-menu li a.active {
        color: #F4442C !important;
    }

    .mobile-submenu a {
        padding-bottom: 5px !important;
    }

    .cart-dropdown .cart-count {
        width: 1.8rem !important;
        height: 1.8rem !important;
        font-size: 10px !important;
    }
    .cart-dropdown>a i{
        font-size: 23px !important;
    }
    .header-right i{
        font-size: 20px !important;
    }
    .sidebar-content {
        width: 29rem;
    }
    .category-section .shop-default-category {
        padding: 0 !important;
        margin: 0 !important;
    }
    .intro-slide {
        min-height: 270px !important;
        max-height: 270px !important;
    }
    .product-media img {
        max-height: 255px !important;
    }
    .btn-close i{
        font-size: 13px !important;
    }

    .offer-products .swiper-slide{
        margin-right: 1px !important;
    }

    .offer-products .swiper-slide .product-price ,.offer-products .swiper-slide .product-price del{
        font-size: 11px !important;
    }

    .header .logo img {
        max-width: 140px;
    }
    .footer-logo {
        width: 180px;
    }
}
